.strength-container {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.bars-wrapper {
  display: flex;
  gap: 5px;
  flex: 1;
  margin-right: 10px;
}

.strength-bar {
  height: 6px;
  flex: 1;
  border-radius: 3px;
  transition: background-color 0.3s ease; /* Animação suave a mudar de cor */
}

.strength-label {
  font-size: 12px;
  font-weight: 600;
  min-width: 50px;
  text-align: right;
}
